<div>
  <div>
    <jce-user-form (userAddedEvent) = "addUser($event)"></jce-user-form>
  </div>
<jce-spinner [visible]= "isLoading" ></jce-spinner>
  <ul  class="list-group users">
      <li *ngFor="let user of users" class="list-group-item"  [class.active]="currentUser == user" (click)="select(user)">
      <jce-user [user] = user (deleteEvent) = "deleteUser($event)"
                                    (editEvent) = "editUser($event)"></jce-user>   
        
        <ul>
          <li *ngFor = "let title of user.postTitles">
            {{(title | async)?.title}}
          </li>
        </ul>
        
      </li>
  </ul>
</div>