<div  class="posts">
    <div>
        <span><u>Title:</u></span>
        <span>{{ (undo != true)? post.title : postTitle }}</span>
    </div>
    <div>
        <span><h5>Content -</h5></span>
        <p><small>{{ (undo != true)? post.body : postBody }}</small></p>
    </div>
    <div>
        <button class="col-sm-2" (click) = "toggleEdit()">{{editButtonText}}</button>
        <button class="col-sm-2" (click) = "sendDelete()" >Delete</button>
        <button  class="col-sm-2" *ngIf = "isEdit" (click) = "cancel()">Cancel</button>
    </div>

    <span *ngIf="isEdit">
            Title: <input type="text" [(ngModel)] ="post.title">
            Content:<textarea   rows="6" cols="35" [(ngModel)] ="post.body"> </textarea>
    </span>
     <br>
     <br>

</div>