<div class="row">
    <span class="col-md-4" *ngIf="!isEdit" >
        Name: {{user.name}}
        <br>
        Email: {{user.email}}
    </span>
    <span *ngIf="isEdit">
            Name: <input type="text" [(ngModel)] ="user.name">
            Email:<input type="text" [(ngModel)] ="user.email"> 
    </span>
    <button class="col-sm-2" (click) = "toggleEdit()" >{{editButtonText}}</button>
    <button class="col-sm-2" (click) = "sendDelete()" >Delete</button>

</div>